# Files
/images/
/templates/_custom*
/templates/<*
/templates/*/_*
/templates/*/*.*.*
/templates/_generate

# Dependencies
.venv/
setup.py
*.egg-info

# Cache
__pycache__/
.cache/

# Development
.idea/

# Testing
.coverage
htmlcov/

# Server
.env
.envrc

# Site
/site/

.codegpt

.DS_Store